.uap-header-divider {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1rem solid #0a0a26;
}
.uap-main-header {
    background-color: #E8F0FD;
}
.uap-footer-divider{
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 2rem solid #0a0a26;
}
.uap-copyrights{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #0a0a26;
}
.site-info{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #E8F0FD;  
}